header, main, footer, nav, aside, section {
    display: block;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 30px;
    height: 1000px;
    margin: 0 auto;
    width: 1395px;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

header {
    width: 21%;
    background-color: #F1F2F7;
    border-radius: 20px;
    margin-right: 40px;
}

header>nav {
    margin-top: 70px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding-left: 5px;
    text-decoration: none;
}

header>nav li {
    list-style: none;
    margin-bottom: 28px;
}

header>nav a {
    color: black;
    padding-left: 10px;
}

main {
    width: 75.5%;
    background-color: #F1F2F7;
    border-radius: 20px;
    padding: 0 40px;
}

#logo {
    background-image: url(../images/logo.png);
    background-size: cover;
    height: 68px;
    width: 265.5px;
    display: block;
    margin-top: 20px;
}

.selected {
    width: 134px;
    height: 27px;
    border-radius: 5px;
    padding-left: 2px;
    background-color: #C2EB2D;
}

#mainBtnContainer {
    display: flex;
    justify-content: space-between; 
}
#mainBtnContainer>.selected {
    background-color: #C2EB2D;
}

#mySearch {
    border: none;
    border-radius: 30PX;
    height: 24PX;
    font-size: 12px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    padding-inline-start: 10px;
    width: 74.5%;

}

#SearchWrapper {
    position: relative;
    margin-top: 25px;
    height: 42px;
}

#SearchWrapper>.fa-search {
    position: absolute;
    left: 72%;
    top: 15px;
    color: #AAAAAA;
    font-size: 14px;
}

#filter {
    margin-top: 26px;
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #7A7A7A;
}

.btn {
    background-color: white;
    width: 140px;
    height: 28px;
    border-radius: 6px;
    margin-right: 13px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}

ul.dropdown-menu a:hover {
    background: #C2EB2D;
}

.dropdown-menu{
    font-size: 14px;
}
.dropdown-toggle::after {
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 12px;
    right: 5px;
}

#RefereeSearch {
    border: none;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
}

#mainBtnContainer {
    margin-top: 30px;
}

#mainBtnContainer button {
    width: 299px;
    height: 99px;
    background-color: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
}

#mainBtnContainer div {
    margin-top: 8px;
    width: 23px;
    height: 40px;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}

.tournamentsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow-y: auto;
    height: 540px;
}

.tournamentsContainer::after {
    content: "";
    width: 297px;
    height: 160px;
  }

.tournaments {
    width: 297px;
    height: 160px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 17px;
    border: none;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    display: none;
    margin-right: 5px;
}

progress {
    width: 236px;
    height: 17px;
    -webkit-appearance: none;
}
.progress{
margin-bottom: unset;
}

::-webkit-progress-bar {
    background-color: #DFDFDF;
    border-radius: 20px;
}

::-webkit-progress-value {
    background-color: #C2EB2D;
    border-radius: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C2EB2D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C2EB2D;
    cursor: pointer;
}

.iconOpen {
    display: flex;
    flex-wrap: wrap;
    width: 35px;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: baseline;
    white-space: nowrap;
    padding-right: 36px;
    padding-left: 16px;
}

.sortByContainer {
    margin-top: 21px;
}

.dropdownMenuSort {
    width: 140px;
    height: 28px;
    border-radius: 6px;
    margin-right: 13px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
}

.proTournament {
    margin-top: 27px;
    width: 236px;
    height: 17px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 16px;
}
.show {
    display: block;
  }

.btn-toolbar {
    margin-top: 21px;
}

#createTournament {
    border-radius: 80px;
    background-color: black;
    color: white;
    padding: 5px;
    right: 0;
}

.sortby {
    background-color: transparent;
    width:fit-content;
}

#profile {
    margin-left: 28px;
    display: inline;
}

#profile > *:hover {
    cursor: pointer;
}

#profile img {
    border-radius: 50%;
    height: 44px;
    width: 44px;
}

#sort-by {
    flex: 1;
}

#sort-by .dropdown-toggle::after {
    right: unset;
}

#sort-by .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

#profile .dropdown-toggle::after {
    right: unset;
}

#profile .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

figcaption {
    font-size: 10px;
    padding: 1px;
    text-align: center;
    line-height: 12px;
}

figure {
    justify-content: center;
}
.btn-group {
    align-items: center;
}

ul.breadcrumb {
    margin: 0px;
    padding: 10px 16px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

ul.breadcrumb li a {
    color: black;
    text-decoration: none;
    text-decoration: underline;
}

ul.breadcrumb li a:hover {
    color: #C2EB2D;
    font-weight: 600;
}

.formContainer {
    width: 80%;
    height: 500px;
    background-color: white;
    margin-top: 34px 0px 0px 0px;
    border-radius: 20px;
    position: relative;
}

.wrepperNewTour {
    height: 857px;
    margin-top: 20px;
}

.formGap label {
    display: block;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
}

.formGap > .tab{
    margin-left: 50px;
    font-style: normal;
    display: none;
    grid-template-columns: 220px 220px;
    grid-template-rows: 75px 75px;
}

.formGap input {
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
    margin-top: 8px;
    width: 100%;
    padding: 4px;
}
.formGap div{
    padding:20px;
}

.nameTour {
    grid-column-start: 1;
    grid-column-end: 3;
}

.progress {
    height: 66px;
}

.formBut {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 74px;
    background-color: #C2EB2D;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
}

#nextBtn {
    position: absolute;
    right:15px;
    top:20px;
    width: 100px;
    height: 35px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}
#prevBtn{
    position: absolute;
    left:15px;
    top:20px;
    width: 100px;
    height: 35px;
    border: 0;
    background-color:#C2EB2D;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
}
.formContainer > h1{
    margin-left: 15px;
}

input:read-only{
    background-color: #C4C499;
}
